<footer class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <% site.data.links.each do |title, social| %>
        <a href="<%= social %>" aria-label="<%= title %>" class="group -m-1 p-1">
          <span class="sr-only"><%= title %></span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <%= svg "/images/icons/#{title}.svg", class: "h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-600" %>
          </svg>
        </a>
      <% end %>
    </div>

    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xs leading-5 text-gray-500">Nothing Changes if Nothing Changes</p>
    </div>
  </div>
</footer>
